html.isDesktop,
html.isDesktop .application {
  overflow:hidden;
}

body {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  font-family: 'Gotham-Bold-Regular', sans-serif;
  text-transform: uppercase;
  border: none;
  background: none;
  outline: none;
  color: var(--text-color);
  &:focus {outline:0;}
  -webkit-appearance: none;
}

a, p, span, div, ul > li {
  color: var(--text-color);
}

#js-scroll {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}